<div class="jumbotron">
  <h1 class="text-center">
    DEMO Projeto Entrevista ADSOFT
  </h1>
</div>

<p ng-show="mensagem.texto">
  {{mensagem.texto}}
</p>

<a id="btnNovo" href="#/pessoa" class="btn btn-primary">Novo Cliente</a>

<input ng-model="filtro" type="search" placeholder='parte do nome'>

<p class="text-info" ng-hide="pessoas.length">
  Não há clientes cadastrados
</p>

<p ng-show="pessoas.length">Clientes cadastrados: {{pessoas.length}}</p>

<my-painel titulo="Listagem de Clientes">
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>NOME</th>
        <th>E-MAIL</th>
        <th class="text-center">Ação</th>
      </tr>
      <tr ng-repeat="pessoa in pessoas | filter: filtro ">
      <td>
        <a ng-href="#/pessoa/{{pessoa._id}}">{{pessoa.nome}}</a>
      </td>
      <td>{{pessoa.email}}</td>
      <td class="text-center">
       
       <button-warning nome="Remover" acao="remove(pessoa)">
       </button-warning>

      </td>
    </tr>
    </table>
  </div>
</my-painel>